<div class="container-fluid">
    <form action="" id="supplier-form">
        <input type="hidden" name="id" value="{% if supplier.pk %}{{supplier.pk}}{% endif %}">
        <div class="form-group mb-3">
            <div class="form-group mb-3">
                <label for="name" class="control-label">Supplier'sPhone</label>
                <input type="text" name="phone" id="phone" class="form-control form-control-sm rounded-0" value="{% if supplier.phone %}{{supplier.phone}}{% endif %}" required readonly>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="control-label">Supplier's Email</label>
                <input type="email" name="email" id="email" class="form-control form-control-sm rounded-0" value="{% if supplier.email %}{{supplier.email}}{% endif %}" required readonly>
            </div>
            <div class="form-group mb-3">
                 <label for="code" class="control-label">My address</label>
                 <input type="text" name="my_address" id="my_address" class="form-control form-control-sm rounded-0"  required>
            </div>
             <div class="form-group mb-3">
                 <label for="header" class="control-label">Email Header</label>
                 <input type="text" name="header" id="header" class="form-control form-control-sm rounded-0"  required>
            </div>
            <div class="form-group mb-3">
                <label for="body" class="control-label">Email Body</label>
                <textarea rows="5" name="body" id="body" class="form-control form-control-sm rounded-0" required></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="attachment" class="control-label">Attachment</label>
                <input type="file" name="attachment" id="attachment" class="form-control form-control-sm rounded-0" accept="application/pdf" required>
            </div>

        </div>
    </form>
    </div>
    <script>
    $(function() {
        $('#supplier-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this);
            $('.err-msg').remove();
            var el = $('<div>');
            el.addClass("alert alert-danger err-msg");
            el.hide();
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'send_email_supplier' %}",
                data: new FormData(_this[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err);
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg");
                        location.reload();
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg);
                    } else {
                        el.text("An error occurred");
                        end_loader();
                        console.err(resp);
                    }
                    _this.prepend(el);
                    el.show('slow');
                    $("html, body, .modal").scrollTop(0);
                    end_loader();
                }
            });
        });
    });
</script>