<div class="container-fluid">
    <form action="" id="customer-form">
        <input type="hidden" name="id" value="{% if customer.pk %}{{customer.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="code" class="control-label">Full Name</label>
            <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if customer.name %}{{customer.name}}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <div class="form-group mb-3">
                <label for="name" class="control-label">Phone</label>
                <input type="text" name="phone" id="phone" class="form-control form-control-sm rounded-0" value="{% if customer.phone %}{{customer.phone}}{% endif %}" required>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="control-label">Email</label>
                <input type="email" name="email" id="email" class="form-control form-control-sm rounded-0" value="{% if customer.email %}{{customer.email}}{% endif %}" required>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="control-label">Address</label>
                <textarea rows="5" name="address" id="address" class="form-control form-control-sm rounded-0" required>{% if customer.address %}{{customer.address}}{% endif %}</textarea>
            </div>
        </div>
    </form>
    </div>
    <script>
        $(function() {
            $('#customer-form').submit(function(e) {
                e.preventDefault();
                var _this = $(this)
                $('.err-msg').remove();
                var el = $('<div>')
                el.addClass("alert alert-danger err-msg")
                el.hide()
                if (_this[0].checkValidity() == false) {
                    _this[0].reportValidity();
                    return false;
                }
                start_loader();
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "{% url 'save-customer-page' %}",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    error: err => {
                        console.log(err)
                        end_loader();
                    },
                    success: function(resp) {
                        if (typeof resp == 'object' && resp.status == 'success') {
                            el.removeClass("alert alert-danger err-msg")
                            location.reload()
                        } else if (resp.status == 'failed' && !!resp.msg) {
                            el.text(resp.msg)
                        } else {
                            el.text("An error occured", 'error');
                            end_loader();
                            console.err(resp)
                        }
                        _this.prepend(el)
                        el.show('slow')
                        $("html, body, .modal").scrollTop(0);
                        end_loader()
                    }
                })
            })
        })
    </script>